body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; 
    color: #333;
}
.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color:  black; 
    color: white;
    padding: 10px 20px; 
    border-bottom: 1px solid black;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.nav-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-links li {
    margin: 0 15px; 
}
.nav-links a {
    text-decoration: none; 
    color: white; 
    padding: 5px 0;
    font-size: 14px;
}
.nav-links a:hover {
    color: white;
}
.user-actions a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 14px;
}
.content {
    padding: 20px;
}
.content h1 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.content p {
    font-size: 14px;
    color: #555;
}


